* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

body {
    height: 100vh;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left-side-container, .calendar-left-side-container {
    width: 100%;
    height: 97%;

}
.home-left-side-container{
    overflow-y: scroll;
}

