.deletePopup {
    display: none;
    position: fixed;
    padding: 10px;
    width: 400px;
    height: 265px;
    left: 50%;
    margin-left: -150px;
    top: 40%;
    margin-top: -100px;
    background: #fff;
    z-index: 30;
    border-radius: 10px;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.dayNumberPopUpSmall {
    display: flex;
    justify-content: flex-start;
    margin-right: 30px;
    margin-left: 10px;
    font-size: 30px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

.event-time, .event-title {
    display: flex;
    justify-content: flex-start;
    margin-right: 30px;
    margin-left: 10px;
    font-size: 20px;
}

.deleteBtnLine {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1px;
    margin-top: 10px;
}

.deleteBtnLine div {
    cursor: pointer;
}

.deleteBtnLine div:hover {
    background-color: #bdbaba;
    color: black;
}

#delete-btn {
    margin-top: 7px;
    padding: 2px 15px;
    background-color: #f60000;
    height: 30px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

#delete-btn:hover {
    background-color: #bdbaba;
    color: black;
}

.abbrechen-btn {
    margin-top: 7px;
    margin-left: 0;
    padding: 2px 15px;
    background-color: #000000;
    height: 30px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 18px;
}

.serie-bearbeiten-btn {
    margin-top: 7px;
    margin-left: 0;
    padding: 2px 15px;
    text-align: center;
    background-color: #000000;
    height: 30px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
}